<ion-view view-title="Edição">
<ion-content>
  <div class="row">
    <form class="col s12" ng-controller="listCtrl">
      <!-- Linha "nome" -->
        <div class="input-field col s12">
          <input placeholder="Nome da lista" id="list_name" ng-model="list.name" type="text" class="validate">
        </div>
      <!-- Linha "compartilhado" -->
      <div class="input-field col s12">
        <p>
          <input type="checkbox" id="list_shared" ng-model="list.shared"/>
          <label for="list_shared">Lista compartilhada?</label>
        </p>
      </div>
      <!-- Exemplo de como deverá ficar a lista de usuários -->
      <div class="input-field col s12">
        <div class="collection">
          <a class="collection-item">teste@gmail.com</a>
          <a class="collection-item">teste@gmail.com</a>
          <a class="collection-item">teste@gmail.com</a>
        </div>
      </div>
      <!-- Button adicionar -->
      <div class="row">
        <div class="input-field col s6">
        </div>
        <div class="input-field col s6">
          <a class="waves-effect waves-light btn" ng-click="updateList(list);">Salvar</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
</ion-view>
