<ion-view cache-view="false" view-title="Listas">
  <ion-content>
    <ion-refresher
      pulling-text="Solte para atualizar..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item on-hold="onHold(list)" class="item item-icon-right" ng-repeat="list in lists | orderBy:'id'" href="#/app/list/{{list.id}}">
        {{list.name}}
        <i class="icon ion-ios-people" ng-show="{{list.shared}}"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large" href="#/app/newlist">
      <i class="large material-icons">+</i>
    </a>
  </div>
</ion-view>
