<ion-view view-title="Nova lista">
<ion-content>
  <div class="row">
    <form class="col s12">
      <!-- Linha "nome" -->
      <div class="input-field col s12">
        <input placeholder="Nome da lista" id="list_name" ng-model="list.name" type="text" class="validate">
      </div>
      <!-- Linha "compartilhado" -->
      <div class="input-field col s12">
        <p>
          <input type="checkbox" id="list_shared" ng-model="list.shared"/>
          <label for="list_shared">Lista compartilhada?</label>
        </p>
      </div>    
      <div class="row">
        <div class="input-field col s6">
        </div>
        <div class="input-field col s6">
          <a class="waves-effect waves-light btn" ng-click="addList(list);">Adicionar</a>
        </div>
      </div>
    </form>
  </div>
</ion-content>
</ion-view>
